<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Someone's a  bit lost. Just follow the light!</title>
</head>
<body>
    <a class="error" href="/">Light Home</a>
    <main class="error-section">
           {{{ body }}}
    </main>
 
</body>
</html>